@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
	font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

li > a {
	font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: -.2px;
}

p {
	font-weight: 300;
	font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

li {
	-webkit-transition: all .2s;
}

li a {
	-webkit-transition: all .5s;
}

li ul {
	-webkit-transition: all .8s;
}

li ul li {
	-webkit-transition: height .5s;
}

.lead {
	font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.white-text {
	color: FFFFFF;
}

.property-facilities li i.primary {
	background-color: #26a69a;
	color: #FFF;
}

#content .property-meta {
	background-color: #141414;
	border: 1px solid #141414;
	margin-bottom: 20px;
}

.sidebar-skin-white .property-meta .property-meta-item {
	border-color: #141414;
}

.st-layout .ui-view-main {
	height: 100%;
}

body {
	line-height: 1.73rem;
	font-size: 1.2rem;
}

.text-light {
	color: #333;
}

.text-headline > a {
	color: #000;
}

.btn-white {
	color: #444;
	background-color: #FFF;
	border-color: #141414;
}

.btn-white:hover,.btn-white:focus,.btn-white.focus,.btn-white:active,.btn-white.active,.open > .dropdown-toggle.btn-white {
	color: #444;
	background-color: #e6e6e6;
	border-color: #141414;
}

.btn-white.disabled,.btn-white[disabled],fieldset[disabled] .btn-white,.btn-white.disabled:hover,.btn-white[disabled]:hover,fieldset[disabled] .btn-white:hover,.btn-white.disabled:focus,.btn-white[disabled]:focus,fieldset[disabled] .btn-white:focus,.btn-white.disabled.focus,.btn-white[disabled].focus,fieldset[disabled] .btn-white.focus,.btn-white.disabled:active,.btn-white[disabled]:active,fieldset[disabled] .btn-white:active,.btn-white.disabled.active,.btn-white[disabled].active,fieldset[disabled] .btn-white.active {
	background-color: #FFF;
	border-color: #141414;
}

.btn-white .badge {
	background-color: #444;
}

.btn-white.active,.btn-white:active,.btn-white:focus,.btn-white:hover,.btn-white .open > .dropdown-toggle.btn-white {
	background: #141414;
	border-color: #141414;
}

.btn-inverse {
	color: #FFF;
	background-color: #424242;
	border-color: #424242;
}

.btn-inverse:hover,.btn-inverse:focus,.btn-inverse.focus,.btn-inverse:active,.btn-inverse.active,.open > .dropdown-toggle.btn-inverse {
	color: #FFF;
	background-color: #292929;
	border-color: #232323;
}

.btn-inverse .badge {
	color: #424242;
	background-color: #FFF;
}

.btn-stroke.btn-default {
	color: #000;
}

.btn-stroke.btn-default {
	color: #000;
}

.btn-stroke.btn-primary:hover {
	background: #26a69a;
	color: #FFF;
}

.btn-stroke.btn-success:hover {
	background: #8bbf61;
	color: #FFF;
}

.btn-stroke.btn-info:hover {
	background: #4193d0;
	color: #FFF;
}

.btn-stroke.btn-danger:hover {
	background: #bd362f;
	color: #FFF;
}

.btn-stroke.btn-inverse:hover {
	background: #424242;
	color: #FFF;
}

.btn-stroke.btn-warning:hover {
	background: #f0ad4e;
	color: #FFF;
}

.btn-play {
	color: #FFF;
	border-radius: 50%;
	font-size: 25px;
	background: #141414;
/* The Fallback */
	background: rgba(20,20,20,0.5);
}

.btn-play:hover {
	color: #FFF;
	background: #141414;
/* The Fallback */
	background: rgba(20,20,20,0.5);
	border: 1px solid #fcaf3e;
}

.btn-star {
	color: #FFF;
	border-radius: 50%;
	font-size: 20px;
	background-color: #141414;
	border-color: #141414;
}

.btn-star:hover {
	color: #fcaf3e;
	background-color: #141414;
	border-color: #141414;
}

.ribbon-mark.ribbon-default .text {
	color: #000;
}

.ribbon-heading.ribbon-default {
	color: #000;
}

.input-group-addon {
	color: #fff;
}

.form-control-sales {
	color: #fff;
}

.form-control-default {
	padding: 0 6px;
	background-color: #141414;
	border: 1px solid #141414;
}

.form-control-default.required:after {
	color: #fff;
}

.daterangepicker .ranges .input-mini {
	border: 1px solid #141414;
}

.daterangepicker .ranges li {
	color: #000;
}

.checkbox label::before {
	border: 1px solid #141414;
}

radio label::before {
	border: 1px solid #141414;
}

.select2-container .select2-choices {
	border-color: #141414;
}

.select2-search input {
	border-color: #141414;
}

.select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
	background: #141414;
}

.select2-container-multi .select2-choices .select2-search-choice {
	background: #141414;
}

.select2-container.select2-container-disabled .select2-choice,.select2-container.select2-container-disabled .select2-choices {
	border-color: #141414;
}

.select2-container-multi .select2-choices .select2-search-choice {
	background: #141414;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
	border: 1px solid #141414;
}

.bootstrap-switch .bootstrap-switch-label {
	background: #141414;
}

.homepage-join {
	background-color: #333;
	padding: 10px;
	border-radius: 6px;
}

@media (max-width: 992px) {
	.homepage-join {
		visibility: hidden;
		margin-bottom: -360px;
	}
}

.rating span.star:before {
	color: #141414;
}

ul.icon-list li a {
	color: #000;
}

.table-pricing-3 > ul > li .pricing-body .price {
	color: #000;
}

.label-grey-100 {
	background-color: #141414;
	color: #757575;
	border: 1px solid #333;
	border-radius: 4px;
}

.media-heading > a {
	color: #fff;
}

/*.text-left {
  text-align: left !important;
}*/
@media (min-width: 361px) {
	.text-left {
		text-align: left !important;
	}
}

.boxed {
	border: 1px solid #141414;
	padding: 10px;
}

.link-text-color {
	color: #000;
}

body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	background-color: #141414;
	color: #fff !important;
}

.footer-section {
	background-color: #000;
	color: #333;
	font-size: 1.15rem;
}

.sidebar-skin-dark .fancytree-container.fancytree-treefocus span.fancytree-node:hover {
	background-color: #000;
}

.slider-handle {
	border: 1px solid #141414;
}

.cover.overlay .overlay[class*="overlay-bg-white"] .text-overlay {
	text-shadow: none;
	color: #000;
}

.cover.overlay .overlay[class*="overlay-bg-white"] p.text-overlay {
	color: #000;
}

@media (max-width: 480px) {
	.cover.overlay .cover-nav {
		bottom: -40px;
		background: #000;
		border-top: none;
	}

	.cover.overlay .cover-nav li a {
		border-bottom: 1px solid #141414;
	}

	.bg-black {
		background-color: #141414;
	}

	.text-grey-600 {
		color: #333;
	}

	.text-grey-900 {
		color: #000;
	}

	.btn-grey-600 {
		background-color: #333;
		border-color: #333;
	}

	.btn-grey-600.disabled,.btn-grey-600[disabled],fieldset[disabled] .btn-grey-600,.btn-grey-600.disabled:hover,.btn-grey-600[disabled]:hover,fieldset[disabled] .btn-grey-600:hover,.btn-grey-600.disabled:focus,.btn-grey-600[disabled]:focus,fieldset[disabled] .btn-grey-600:focus,.btn-grey-600.disabled.focus,.btn-grey-600[disabled].focus,fieldset[disabled] .btn-grey-600.focus,.btn-grey-600.disabled:active,.btn-grey-600[disabled]:active,fieldset[disabled] .btn-grey-600:active,.btn-grey-600.disabled.active,.btn-grey-600[disabled].active,fieldset[disabled] .btn-grey-600.active {
		background-color: #333;
		border-color: #333;
	}

	.btn-grey-600 .badge {
		color: #333;
	}

	.btn-grey-600.btn-stroke {
		color: #333;
		background-color: #fff;
		border-color: #333;
	}

	.btn-grey-600.btn-stroke:hover,.btn-grey-600.btn-stroke:focus,.btn-grey-600.btn-stroke.focus,.btn-grey-600.btn-stroke:active,.btn-grey-600.btn-stroke.active,.open > .dropdown-toggle.btn-grey-600.btn-stroke {
		color: #333;
		background-color: #e6e6e6;
		border-color: #565656;
	}

	.btn-grey-600.btn-stroke.disabled,.btn-grey-600.btn-stroke[disabled],fieldset[disabled] .btn-grey-600.btn-stroke,.btn-grey-600.btn-stroke.disabled:hover,.btn-grey-600.btn-stroke[disabled]:hover,fieldset[disabled] .btn-grey-600.btn-stroke:hover,.btn-grey-600.btn-stroke.disabled:focus,.btn-grey-600.btn-stroke[disabled]:focus,fieldset[disabled] .btn-grey-600.btn-stroke:focus,.btn-grey-600.btn-stroke.disabled.focus,.btn-grey-600.btn-stroke[disabled].focus,fieldset[disabled] .btn-grey-600.btn-stroke.focus,.btn-grey-600.btn-stroke.disabled:active,.btn-grey-600.btn-stroke[disabled]:active,fieldset[disabled] .btn-grey-600.btn-stroke:active,.btn-grey-600.btn-stroke.disabled.active,.btn-grey-600.btn-stroke[disabled].active,fieldset[disabled] .btn-grey-600.btn-stroke.active {
		background-color: #fff;
		border-color: #333;
	}

	.btn-grey-600.btn-stroke .badge {
		color: #fff;
		background-color: #333;
	}

	.btn-grey-600.btn-stroke.active,.btn-grey-600.btn-stroke:active,.btn-grey-600.btn-stroke:focus,.btn-grey-600.btn-stroke:hover,.btn-grey-600.btn-stroke .open > .dropdown-toggle.btn-grey-600.btn-stroke {
		background-color: #333;
		border-color: #333;
		color: #fff;
	}

	.btn-grey-900 {
		color: #fff;
		background-color: #000;
		border-color: #000;
	}

	.btn-grey-900.disabled,.btn-grey-900[disabled],fieldset[disabled] .btn-grey-900,.btn-grey-900.disabled:hover,.btn-grey-900[disabled]:hover,fieldset[disabled] .btn-grey-900:hover,.btn-grey-900.disabled:focus,.btn-grey-900[disabled]:focus,fieldset[disabled] .btn-grey-900:focus,.btn-grey-900.disabled.focus,.btn-grey-900[disabled].focus,fieldset[disabled] .btn-grey-900.focus,.btn-grey-900.disabled:active,.btn-grey-900[disabled]:active,fieldset[disabled] .btn-grey-900:active,.btn-grey-900.disabled.active,.btn-grey-900[disabled].active,fieldset[disabled] .btn-grey-900.active {
		background-color: #000;
		border-color: #000;
	}

	.btn-grey-900 .badge {
		color: #000;
		background-color: #fff;
	}

	.btn-grey-900.btn-stroke {
		color: #000;
		border-color: #000;
	}

	.btn-grey-900.btn-stroke:hover,.btn-grey-900.btn-stroke:focus,.btn-grey-900.btn-stroke.focus,.btn-grey-900.btn-stroke:active,.btn-grey-900.btn-stroke.active,.open > .dropdown-toggle.btn-grey-900.btn-stroke {
		color: #000;
		background-color: #e6e6e6;
		border-color: #020202;
	}

	.btn-grey-900.btn-stroke.disabled,.btn-grey-900.btn-stroke[disabled],fieldset[disabled] .btn-grey-900.btn-stroke,.btn-grey-900.btn-stroke.disabled:hover,.btn-grey-900.btn-stroke[disabled]:hover,fieldset[disabled] .btn-grey-900.btn-stroke:hover,.btn-grey-900.btn-stroke.disabled:focus,.btn-grey-900.btn-stroke[disabled]:focus,fieldset[disabled] .btn-grey-900.btn-stroke:focus,.btn-grey-900.btn-stroke.disabled.focus,.btn-grey-900.btn-stroke[disabled].focus,fieldset[disabled] .btn-grey-900.btn-stroke.focus,.btn-grey-900.btn-stroke.disabled:active,.btn-grey-900.btn-stroke[disabled]:active,fieldset[disabled] .btn-grey-900.btn-stroke:active,.btn-grey-900.btn-stroke.disabled.active,.btn-grey-900.btn-stroke[disabled].active,fieldset[disabled] .btn-grey-900.btn-stroke.active {
		background-color: #fff;
		border-color: #000;
	}

	.btn-grey-900.btn-stroke .badge {
		color: #fff;
		background-color: #000;
	}

	.btn-grey-900.btn-stroke.active,.btn-grey-900.btn-stroke:active,.btn-grey-900.btn-stroke:focus,.btn-grey-900.btn-stroke:hover,.btn-grey-900.btn-stroke .open > .dropdown-toggle.btn-grey-900.btn-stroke {
		background-color: #000;
		border-color: #000;
		color: #fff;
	}

	@media (min-width: 992px) {
	#content-home {
		padding-top: 35px;
	}
}

@media (max-width: 991px) {
	#content-home {
		padding-top: 5px;
	}
}

#content-home {
	min-width: 320px;
}

.footer {
	color: #fff;
	background: #141414;
	height: 20px;
	line-height: 20px;
	display: block;
}	
}

.navbar-left-m {
	margin-left: -15px;
	margin-top: 2px;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-nav-bordered > li {
		border-right: 1px solid #141414;
	}
}

@media (max-width: 992px) {
	.container-fluid {
		border-bottom: 1px solid #272727;
	/* background-color: #272727; */
	}
}

@media (min-width: 992px) {
	.navbar.navbar-size-large {
		min-height: 84px;
		padding: 25px 15px 10px 0;
		border-bottom: 1px solid #272727;
	/* background-color: #272727; */
	}

	@media (max-width: 767px) {
	.navbar.navbar-size-large .navbar-toggle {
		float: left;
	}
}

.navbar.navbar-size-large .navbar-nav > li > a {
	font-size: 1.2rem;
}

@media (max-width: 767px) {
	.navbar.navbar-size-large .navbar-nav > li > a {
		height: 54px;
		font-size: 1rem;
	}
}

.navbar.navbar-size-large .navbar-nav > li > a > i {
	font-size: 18px;
}

@media (min-width: 992px) and (min-width: 768px) {
	.navbar.navbar-size-large .navbar-nav {
	/* margin: 0; */
		font-size: 16px;
	}
}

.navbar-header-hamburger {
	margin: 30px 0 0;
	font-size: 24px;
	padding-left: 18px;
}

.navbar-nav-left {
	margin: 30px 0 0;
}

.navbar-nav-left-logo {
	margin: 0;
	z-index: 2000;
}

.nav ul > li:hover ul li {
	height: 36px;
}

.navbar .toggle {
	padding: 0;
}

@media (min-width: 992px) {
	
}

	
}

.navbar-default .toggle {
	color: #fff;
}

.navbar-default .toggle.active {
	background: #333;
	color: #fff;
	border-radius: 6px;
}

@media (min-width: 768px) {
	.navbar-header .toggle {
		border-right: 1px solid #141414;
	}
}

.home-page-register {
	background-color: #fff;
}

@media (min-width: 768px) {
	.navbar-nav .dropdown-menu {
		box-shadow: 0 2px 3px #000;
	}
}

.navbar-nav .dropdown-menu > li > a,.navbar-nav .dropdown-menu > li > a:focus {
	border-top: 1px solid transparent;
}

.navbar-nav .dropdown-menu > li > a:hover,.navbar-nav .dropdown-menu > li > a:focus:hover {
	color: #fff;
	background: #757575;
}

.navbar-nav .dropdown-menu > li > a i {
	color: #fff;
}

.navbar-nav .dropdown-menu > li.active > a,.navbar-nav .dropdown-menu > li a:hover {
	color: #fff;
}

.navbar-nav > li.notifications .dropdown-menu li {
	border-bottom: 1px solid #141414;
}

.navbar-subnav {
	background: #000;
	border: none;
	margin: -15px 0 15px;
}

@media (min-width: 767px) {
	.hide-menu-upto-768 {
		visibility: visible;
	}
}

@media (min-width: 768px) {
	.hide-menu-upto-768 {
		visibility: hidden;
	}
}

.navbar-default {
	border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav > li.active > a i,.navbar-default .navbar-nav > li.open > a i {
	color: #fff;
}

.navbar-default .navbar-nav > li > a i {
	color: #757575;
}

.navbar-default .navbar-nav > li > a:hover i {
	color: #fff;
}

.navbar-default .navbar-nav > li.notifications a.dropdown-toggle.btn {
	background: #141414;
}

.navbar-default .search-1 .form-control:hover,.navbar-default .search-1 .form-control:active,.navbar-default .search-1 .form-control:focus {
	background-color: #141414;
}

.navbar-primary .navbar-nav > li.notifications a.dropdown-toggle .badge {
	background: #fff;
	color: #000;
}

.navbar-skin-cover {
	border-width: 0;
/* background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.01));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.01)); */
}

@media (max-width: 767px) {
	.navbar-skin-cover .navbar-nav > li > a {
		font-weight: 500;
		color: #fff;
	}

	.navbar-skin-cover .navbar-nav > li > a i {
		color: #000;
	}

	.navbar-skin-cover.navbar-skin-cover-white .navbar-nav > li > a {
		color: #000;
	}

	.navbar-skin-cover .navbar-nav .open > a,.navbar-skin-cover .navbar-nav .open > a:focus,.navbar-skin-cover .navbar-nav .open > a:hover {
		background-color: #333;
		-webkit-transition: ease-in-out .5s;
		transition: ease-in-out .5s;
	}

	.main-nav-dropdown-menu:hover {
		background-color: #333;
		-webkit-transition: ease-in-out .5s;
		transition: ease-in-out .5s;
	}

	.row {
		-webkit-transition: ease-in-out .5s;
		transition: ease-in-out .5s;
	}

	.navbar-skin-cover.navbar-skin-cover-white .toggle {
		color: #000;
	}
}

@media (max-width: 767px) {
	.navbar-skin-cover .navbar-collapse {
		background-color: #272727;
	}
}

.show-sidebar.sidebar-r-2pc #content {
	margin-right: 2%;
}

 

.sidebar-menu > li > a {
	font-size: 1.25rem;
	font-weight: 700;
}

.sidebar-menu li ul li a {
	font-size: 16px;
}

.sidebar > #dropdown-temp .dropdown-menu > li > a,.sidebar > #dropdown-temp .dropdown-menu > li > a:focus {
	font-weight: 500;
	padding: 8px 14px;
	border-top: 1px solid #141414;
}

.sidebar > #dropdown-temp .dropdown-menu > li > a i {
	color: #858585;
}

.st-content {
	background: #141414;
}

.st-container {
	position: relative;
	overflow: hidden;
	padding-top: 25px;
}

.top-navbar,.ls-top-navbar {
	padding-top: 50px;
}

.ls-bottom-footer .st-container {
	padding-bottom: 20px;
}

.sidebar-skin-white.sidebar .emails .email-subject {
	color: #000;
}

.sidebar-skin-white.sidebar .emails .email-body {
	color: #000;
}

.sidebar.sidebar-skin-dark {
	background: #141414;
}

.sidebar.sidebar-skin-dark.left {
	border-right: 1px solid #141414;
}

.sidebar.sidebar-skin-dark.right {
	border-left: 1px solid #141414;
}

.sidebar.sidebar-skin-dark .sidebar-link {
	color: #333;
}

.sidebar.sidebar-skin-dark .sidebar-block {
	border-color: #141414;
}

.sidebar.sidebar-skin-dark .panel-default {
	background-color: #000;
}

.sidebar.sidebar-skin-dark .panel-default > .panel-heading {
	background-color: #000;
}

.sidebar.sidebar-skin-dark .panel-default > .panel-heading .badge {
	color: #000;
}

.sidebar.sidebar-skin-dark .form-control,.sidebar.sidebar-skin-dark .form-control-default {
	background: #141414;
	border-color: #757575;
	color: #fff;
}

.sidebar.sidebar-skin-dark .list-group-menu .list-group-item {
	border-color: #141414;
}

.sidebar.sidebar-skin-dark .list-group-menu .list-group-item .badge {
	background: none;
	color: #757575;
}

.sidebar.sidebar-skin-dark .list-group-menu .list-group-item.active {
	background: #333;
}

.sidebar.sidebar-skin-dark .sidebar-menu {
	border-color: #141414;
}

.sidebar.sidebar-skin-dark .sidebar-menu > li {
	border-bottom: 1px solid #333;
}

.sidebar.sidebar-skin-dark .sidebar-menu > li {
	border-bottom: 1px solid #333;
}

.subgamecategory {
	color: #fff;
}

.sidebar.sidebar-skin-dark .sidebar-menu.sm-icons-block li > a i {
	background: #141414;
	color: #fff;
}

.sidebar.sidebar-skin-dark .sidebar-menu.sm-icons-block li.active > a i {
	background: #141414;
	color: #fff;
}

.sidebar.sidebar-skin-dark .sidebar-menu li.open > ul {
	background: #141414;
	border-color: #141414;
}

.sidebar.sidebar-skin-dark .category {
	color: #757575;
}

.sidebar.sidebar-skin-dark .checkbox label {
	color: #333;
}

.sidebar.sidebar-skin-dark .slider {
	color: #333;
}

.sidebar.sidebar-skin-dark .datepicker table tr td.day,.sidebar.sidebar-skin-dark .datepicker table tr td .month,.sidebar.sidebar-skin-dark .datepicker table tr td .year {
	color: #333;
}

.sidebar.sidebar-skin-dark .list-about li {
	color: #333;
}

.sidebar.sidebar-skin-dark .list-about li a {
	color: #333;
}

.sidebar.sidebar-skin-white {
	background: #141414;
}

.sidebar.sidebar-skin-white.left {
	border-right: 1px solid #141414;
}

.sidebar.sidebar-skin-white .sidebar-block {
	border-color: #141414;
}

.sidebar.sidebar-skin-white .sidebar-text,.sidebar.sidebar-skin-white p {
	color: #000;
}

.sidebar.sidebar-skin-white .panel-default {
	border-color: #141414;
}

.sidebar.sidebar-skin-white .panel-default > .panel-heading {
	color: #000;
	border-color: #141414;
}

.sidebar.sidebar-skin-white .panel-default > .panel-heading .badge {
	color: #fff;
	background-color: #000;
}

.sidebar.sidebar-skin-white .form-control,.sidebar.sidebar-skin-white .form-control-default {
	background: #f7f7f7;
	border-color: #141414;
	color: #000;
}

.sidebar.sidebar-skin-white .list-group-menu .list-group-item {
	background: #141414;
	border-color: #141414;
	-color: #000;
}

.sidebar.sidebar-skin-white .list-group-menu .list-group-item a:hover {
	color: #26a69a;
}

.sidebar.sidebar-skin-white .sidebar-menu {
	border-color: #141414;
}

.sidebar.sidebar-skin-white .sidebar-menu > li {
	border-color: #141414;
}

.sidebar.sidebar-skin-white hr {
	border-color: #141414;
}

.sidebar.sidebar-skin-white .sidebar-feed li .activity-icon {
	color: #333;
}

.sidebar.sidebar-skin-white .sidebar-feed li .media-body a {
	color: #000;
}

.sidebar.sidebar-skin-white .checkbox label {
	color: #333;
}

.sidebar.sidebar-skin-blue .list-group-menu .list-group-item a:hover {
	background: #000;
}

.sidebar.sidebar-skin-blue .list-group-menu .list-group-item.active a {
	background: #000;
}

.sidebar.sidebar-skin-white-blue .list-group-menu .list-group-item {
	background: #f5f5f5;
	border-color: #141414;
}

.sidebar.sidebar-skin-white-blue .sidebar-menu {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-blue .sidebar-menu > li {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-blue hr {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-blue .checkbox label {
	color: #333;
}

.sidebar.sidebar-skin-white-red .list-group-menu .list-group-item {
	background: #f5f5f5;
	border-color: #141414;
}

.sidebar.sidebar-skin-white-red .sidebar-menu {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-red .sidebar-menu > li {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-red hr {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-red .checkbox label {
	color: #333;
}

.sidebar.sidebar-skin-white-green .list-group-menu .list-group-item {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-green .sidebar-menu {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-green .sidebar-menu > li {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-green hr {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-green .checkbox label {
	color: #333;
}

.sidebar.sidebar-skin-white-deep-purple .list-group-menu .list-group-item {
	background: #f5f5f5;
	border-color: #141414;
}

.sidebar.sidebar-skin-white-deep-purple .sidebar-menu {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-deep-purple .sidebar-menu > li {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-deep-purple hr {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-deep-purple .checkbox label {
	color: #333;
}

.sidebar.sidebar-skin-white-brown .list-group-menu .list-group-item {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-brown .sidebar-menu {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-brown .sidebar-menu > li {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-brown hr {
	border-color: #141414;
}

.sidebar.sidebar-skin-white-brown .checkbox label {
	color: #333;
}

.slick-slider {
	padding-bottom: 0;
	margin: 0;
}

.navbar-map-overlay .toggle.active {
	background-color: transparent;
	color: #000;
}

hr {
	border-top: 1px solid #333;
}

.lead-home {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	padding: 20px 0 0;
}

/* game container 360px view */
@media (min-width: 1px) and (max-width: 360px) {
	.container {
		margin-right: auto;
		margin-left: auto;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 1px) and (max-width: 360px) {
	.panel {
		padding-left: 40px;
	}
}

@media (min-width: 1px) and (max-width: 360px) {
	.text-center {
		text-align: left;
		margin-left: 40px;
	}
}

@media (min-width: 1px) and (max-width: 360px) {
	.text-left {
		text-align: center;
	}
}

@media (min-width: 1px) and (max-width: 360px) {
	.lead-home {
		padding: 25px 0 0;
	}
}

/* END/game container 360px view */
@media (max-width: 991px) {
	.container-fluid {
		padding-top: 12px;

	}
}

/* .container-fluid {
		background-color: #141414;
	}
 */

.home-page-top-padding {
	padding-top: 125px;
}

label {
	font-weight: 400;
}

.form-control {
	display: block;
	width: 100%;
/* height: 34px; */
	color: #FFF;
	background-color: #141414;
}

.form-control:focus {
	background-color: #141414;
}

.join-text {
	font-size: 18px;
}

.join-icons {
	font-size: 15px;
	padding-right: 4px;
}

.join-notes {
	font-size: 12px;
	color: #ccc;
}

.join-notes p {
	line-height: 14px;
}

.join-notes a {
	color: #CCC;
	text-decoration: none;
}

.join-notes a:hover {
	color: #FFF;
	text-decoration: underline;
}

.font-size-18 {
	font-size: 18px;
}

.form-group {
	margin-bottom: 10px;
}

.toggle-box {
	display: none;
}

.toggle-box + label {
	cursor: pointer;
	display: block;
	font-weight: 700;
	line-height: 21px;
	margin-bottom: 5px;
	color: #757575;
}

.toggle-box + label + div {
	display: none;
	margin-bottom: 10px;
}

.toggle-box:checked + label + div {
	display: block;
}

.toggle-box + label:before {
	background-color: #4F5150;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #FFF;
	content: "+";
	display: block;
	float: left;
	font-weight: 700;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	text-align: center;
	width: 20px;
}

.toggle-box:checked + label:before {
	content: "\2212";
}

.toggle-box-area {
}

.header-logo {
	width: 160px;
	margin-top: -20px;
	padding: 4px;
}

@media (min-width: 992px) {
	.header-logo {
		width: 200px;
		width: 200px;
		margin: -20px -42px 0 -30px;
		padding: 4px;
	}
}

@media (max-width: 991px) {
	.header-logo {
		visibility: hidden;
		width: 1px;
	}
}

@media (min-width: 992px) {
	.header-logo-small {
		visibility: hidden;
		width: 1px;
	}
}

@media (max-width: 991px) {
	.header-logo-small {
		padding: 0 0 0 8px;
		margin: -8px 0 0 -75px;
	}
}

.form-control:focus {
	background-color: #141414;
}

.join-text {
	font-size: 18px;
}

.join-icons {
	font-size: 15px;
	padding-right: 4px;
}

.join-notes {
	font-size: 12px;
	color: #ccc;
}

.join-notes p {
	line-height: 14px;
}

.join-notes a {
	color: #CCC;
	text-decoration: none;
}

.join-notes a:hover {
	color: #FFF;
	text-decoration: underline;
}

.form-group {
	margin-bottom: 10px;
}

.btn-primary {
	color: #000;
	background-color: #FF9915;
	border-color: #FF9915;
}

.btn-search {
	color: #757575;
	background-color: #141414;
	border-color: #757575;
}

.btn-search:hover {
	color: #FFF;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary {
	color: #000;
	background-color: #fcaf3e;
	border-color: #fcaf3e;
	-webkit-transition: ease-in-out .5s;
	transition: ease-in-out .5s;
}

.btn-sales {
	color: #000;
}

.btn-sales:hover {
	color: #000;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.btn-playnow {
	color: #ccc;
	background-color: #333;
	border-color: #888a85;
}

.btn-practiceplay {
	color: #757575;
	background-color: #141414;
	border-color: #888a85;
}

.btn-practiceplay:hover {
	color: #fff;
	background-color: #2e3436;
	border-color: #babdb6;
}

.btn-practiceplay:active {
	color: #fff;
	background-color: #2e3436;
	border-color: #babdb6;
}

.btn-practiceplay:focus {
	color: #fff;
	background-color: #2e3436;
	border-color: #babdb6;
}

.dropdown-menu {
	min-width: 220px;
	background-color: #333;
	border: 1px solid #333;
	border: 1px solid rgba(117,117,117,0.15);
	box-shadow: 0 6px 12px rgba(20,20,20,0.175);
	background-clip: padding-box;
}

.dropdown-menu > li > a {
	color: #FFF;
}

.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus {
	background-color: #757575;
}

.grid-navbar {
	padding-top: 20px;
}

.input-group-addon {
	background-color: #333;
}

@media (max-width: 767px) {
	.nav {
		width: 350px;
	}
}

.navbar {
	position: relative;
	min-height: 50px;
/* margin-bottom: 20px; */
	border: 1px solid transparent;
}

@media (min-width: 768px) {
	.navbar > .container .navbar-brand,.navbar > .container-fluid .navbar-brand {
	/* margin-left: -15px; */
	}
}

.navbar-nav {
	float: left;
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		float: left;
		margin: 0;
	}
}

@media (min-width: 992px) {
	.navbar-nav {
		float: left;
		margin: -10px 0 0;
	}
}

.navbar-nav {
	float: left;
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		float: left;
		margin: 0;
	}
}

@media (min-width: 992px) {
	.navbar-nav {
		float: left;
		margin: -10px 0 0;
	}
}

.navbar-default .navbar-text {
	color: #757575;
}

.navbar-default .navbar-nav > li > a {
	color: #757575;
}

.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
	color: #ccc;
/*background-color: #f4f4f4; */
}

.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {
	background-color: #333;
	color: #fff;
}

.pagination > li > a,.pagination > li > span {
	color: #757575;
	background-color: #333;
	border: 1px solid #333;
	margin-left: -1px;
}

.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus {
	color: #fff;
	background-color: #757575;
	border-color: #757575;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
	z-index: 2;
	color: #fff;
	background-color: #757575;
	border-color: #757575;
	cursor: default;
}

.pagination > .disabled > a:focus {
	color: #757575;
	background-color: #333;
	border-color: #333;
	cursor: not-allowed;
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: transparent;
	border-radius: 0;
}

.panel {
	margin-bottom: 20px;
	background-color: #141414;
	border: 1px solid #141414;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0,0,0,0);
}

.panel-grid {
	padding-bottom: 18px;
}

.panel-body {
	padding: 10px 0;
}

.panel-body p {
	color: #757575;
}

.panel-body h4 {
	font-size: 14px;
}

.panel-default {
	border-color: #141414;
}

.listing-buttons {
	padding: 10px 0 0 10px;
}

@media (min-width: 1px) and (max-width: 991px) {
	.listing-buttons {
		text-align: center;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.listing-buttons {
		text-align: left;
	}
}

@media (min-width: 1200px) {
	.listing-buttons {
		text-align: left;
	}
}

.tooltip {
	font-family: "ubuntu",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=90);
}

.tooltip-inner {
	color: #000;
	background-color: #ccc;
}

.tooltip-arrow {
	border-color: #141414;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #ccc;
}

.tooltip.top-left .tooltip-arrow {
	border-top-color: #ccc;
}

.tooltip.top-right .tooltip-arrow {
	border-top-color: #ccc;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #ccc;
}

.tooltip.left .tooltip-arrow {
	border-left-color: #ccc;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #ccc;
}

.tooltip.bottom-left .tooltip-arrow {
	border-bottom-color: #ccc;
}

.tooltip.bottom-right .tooltip-arrow {
	border-bottom-color: #ccc;
}

.slick-dots {
	 
}
 
.main-nav-dropdown-menu: hover {
	background-color: #333;
	-webkit-transition: ease-in-out .5s;
	transition: ease-in-out .5s;
}

@media (max-width: 991px) {
	.main-nav-dropdown-menu {
		margin: -15px -8px 0;
	}
}

@media (max-width: 767px) {
	.navbar-skin-cover .navbar-collapse {
		background-color: #272727;
	}
}

@media (max-width: 767px) {
	.navbar.navbar-size-large .navbar-toggle {
		float: left;
	}
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    padding: 0 35px 0 35px;
}

/* slider 360px view */
@media (min-width: 1px) and (max-width: 360px) {
.slick-slider {
    padding: 0px;
  }
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
/* Icons */

@font-face {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 25%;
    /*margin-top: -30px;*/
    
    padding: 0;
    border: none;
    outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 55px;
    line-height: 1;
    color: white;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: -3px;
}
[dir="rtl"] .slick-prev {
    left: auto;
    right: 35px;
}
.slick-prev:before {
    content: "←";
}
[dir="rtl"] .slick-prev:before {
    content: "→";
}
.slick-next {
    right: 33px;
}
[dir="rtl"] .slick-next {
    left: 0px;
    right: auto;
}
.slick-next:before {
    content: "→";
}
[dir="rtl"] .slick-next:before {
    content: "←";
}
/* Dots */

.slick-slider {
    margin-bottom: 0px;
}
.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}
/*# sourceMappingURL=slick.css.map */

.btn-star {
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 20px;
    background-color: #141414;
    border-color: #141414;
}
.btn-star:hover {
  color: #fcaf3e;
   background-color: #141414;
  border-color: #141414; 
}
.btn-play {
    font-size: 25px;  
}
.footer {
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    background: #141414;
    height: 20px;
    line-height: 20px;
    display: block;
}














