
<!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
<aside class="sidebar left sidebar-size-2 sidebar-offset-1 sidebar-skin-dark sidebar-visible-desktop"
       id="sidebar-filter">
    <div tabindex="0" data-scrollable="">


	<div class="category">Narrow by:</div>
	<div class="sidebar-block">
	    <ul class="list-group list-group-menu">
		<li class="list-group-item" ng-repeat="category in categories" ng-class="{'active':category.displayName == listTitle}">
		    <a ui-sref="list({category:category.name,provider:null,display:category.displayName})"><span class="badge pull-right">{{category.gameCount}}</span>{{category.displayName}}</a>
		</li>
	    </ul>
	</div>
	<div class="category">Narrow by:</div>
	<ul class="list-group list-group-menu">
	    <li class="list-group-item" ng-repeat="provider in providers" ng-class="{'active':provider.displayName == listTitle}">
		<a ui-sref="list({category:null,provider:provider.name,display:provider.displayName})"><span class="badge pull-right">{{provider.gameCount}}</span>{{provider.displayName}}</a>
	    </li>
	</ul>
    </div>

</aside>


<!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
<aside data-scrollable="" class="sidebar left sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-skin-dark sidebar-visible-desktop" id="sidebar-menu" data-type="collapse" ng-scrollbars>
    <div tabindex="1">
	<uib-Accordion close-others="true" class="sidebar-menu sm-bordered sm-icons-block sm-icons-right">
	    <uib-Accordion-Group class="hasSubmenu" ng-class="{ 'open active': $state.includes('discover') }">
        <uib-Accordion-Heading>
            <a data-toggle="collapse"  ng-click="resetResult()" class="accordion-link">
                <i class="fa fa-sliders fa-rotate-90"></i><span>Show As...</span>
            </a>
        </uib-Accordion-Heading>
		<ul id="discover">
		    <li ng-class="{ 'active': displayType == 'list' }">
			    <a href="" ng-click="setDisplayType('list')"><i class="fa fa-list"></i>
			        <span>Listing - List</span>
			    </a>
		    </li>
		    <li ng-class="{ 'active': displayType == 'grid' }">
			    <a href="" ng-click="setDisplayType('grid')"><i class="fa fa-th"></i>
			        <span>Listing - Grid</span>
			    </a>
		    </li>
		</ul>
	    </uib-accordion-group>
	    <uib-Accordion-Group class="hasSubmenu" ng-class="{ 'open active': $state.includes('pages') }">
        <uib-Accordion-Heading>
            <a data-toggle="collapse"  ng-click="resetResult()" class="accordion-link">
            <i class="fa fa-file-o"></i><span>Pages</span>
            </a>
        </uib-Accordion-Heading>
		<ul id="pages" ng-class="{ 'in': $state.includes('pages') }">
		    <li ng-class="{ 'active': $state.is('main') }">
			<a ui-sref="main"><span>Home</span></a>
		    </li>
		    <li ng-class="{ 'active': $state.is('list') }">
			<a ui-sref="list"><span>Casino Games</span></a>
		    </li>
		    <li ng-class="{ 'active': $state.is('bonus-latest') }">
			<a ui-sref="bonus-latest"><span>Bonuses</span></a>
		    </li>
		    <li ng-class="{ 'active': $state.is('about-oshi') }">
			<a ui-sref="about-oshi"><span>About</span></a>
		    </li>
		    <li ng-class="{ 'active': $state.is('help-contact') }">
			<a ui-sref="help-contact"><span>Help</span></a>
		    </li>
		    <li>
			<a href="http://blog.oshi.io/" target="_new"><span>Blog</span></a>
		    </li>
		</ul>
	    </uib-accordion-group>

		<uib-Accordion-Group class="hasSubmenu" ng-class="{ 'open active': lastPlayedGamesMenuOpen }">
			<uib-Accordion-Heading>
				<a ng-class="{ 'collapsed': lastPlayedGamesMenuOpen }" ng-click="toggleLastPlayedMenu()" class="accordion-link">
					<i class="fa fa-question"></i><span>Last Played</span>
				</a>
			</uib-Accordion-Heading>
			<div><span us-spinner="{color:'#FFFFFF', radius:10, width:3, length: 6, position:'relative', class:'spinner'}" spinner-key="last-played-spinner"></span></div>
			<ul id="last-played" ng-class="{ 'in': lastPlayedGamesMenuOpen }" class="winners no-main ng-isolate-scope" name="last-played"
					template="latest_winners_game" limit="8">
				<div class="winners-box-sidebar" ng-repeat="game in lastPlayedGames">
					<div class="winners-image">
						<div class="margin-none">
							<a ng-click="playGame(game.playUrl, game.id, false, false, game.aspectRatio)"
								 class="overlay overlay-full overlay-bg-black overlay-hover">
								<img ng-src="{{game.iconUrl}}" alt="location" class="media-object">
							</a>
						</div>
					</div>
					<div class="winners-content">
						<div class="winners-game">
							<a ng-click="playGame(game.playUrl, game.id, false, false, game.aspectRatio)">{{game.name}}</a>
						</div>
					</div>
				</div>
			</ul>
		</uib-accordion-group>

	    <uib-Accordion-Group class="hasSubmenu" ng-class="{ 'open active': topWinnersMenuOpen }">
		<uib-Accordion-Heading>
		    <a data-toggle="collapse" ng-class="{ 'collapsed': topWinnersMenuOpen }" ng-click="toggleTopWinnersMenu()" class="accordion-link">
			<i class="fa fa-trophy"></i><span>Top Winners</span>
		    </a>
		</uib-Accordion-Heading>
		<div><span us-spinner="{color:'#FFFFFF', radius:10, width:3, length: 6, position:'relative', class:'spinner'}" spinner-key="top-winner-spinner"></span></div>
		<ul id="topwinners" ng-class="{ 'in': topWinnersMenuOpen }" class="winners no-main ng-isolate-scope" name="last-played" template="latest_winners_game" limit="8">
		    <div class="winners-box-sidebar" ng-repeat="winner in topWinners" ng-cloak>
			<div class="winners-image">
			    <div class="  margin-none">
				<a ng-click="playGame(winner.game.playUrl, winner.game.id, false, false, game.aspectRatio)" class="overlay overlay-full overlay-bg-black overlay-hover">
				  <img ng-src="{{winner.game.iconUrl}}" alt="location" class="media-object">
				</a>
			    </div>
			</div>
			<div>
			    <div class="winners-name">
				<span>{{winner.nickname}}</span> just won
			    </div>
			    <div class="winners-money">
				{{winner.win}} <span>in</span>
			    </div>
			    <div class="winners-game">
				<a ng-click="playGame(winner.game.playUrl, winner.game.id, false, false, game.aspectRatio)">{{winner.game.name}}</a>
			    </div>
			</div>
		    </div>
		</ul>
	    </uib-accordion-group>

	    <uib-Accordion-Group class="hasSubmenu" ng-class="{ 'open active': latestWinnersMenuOpen }">
		<uib-Accordion-Heading>
		    <a data-toggle="collapse" ng-class="{ 'collapsed': latestWinnersMenuOpen }" ng-click="toggleLatestWinnersMenu()" class="accordion-link">
			<i class="fa fa-btc"></i><span>Latest Winners</span>
		    </a>
		</uib-Accordion-Heading>
		<div><span us-spinner="{color:'#FFFFFF', radius:10, width:3, length: 6, position:'relative', class:'spinner'}" spinner-key="latest-winner-spinner"></span></div>
		<ul id="latestwinners" ng-class="{ 'in': latestWinnersMenuOpen }" class="winners no-main ng-isolate-scope" name="last-played" template="latest_winners_game" limit="8">
		    <div class="winners-box-sidebar" ng-repeat="winner in latestWinners" ng-cloak>
			<div class="winners-image">
			    <div class="  margin-none">
				<a ng-click="playGame(winner.game.playUrl, winner.game.id, false, false, game.aspectRatio)" class="overlay overlay-full overlay-bg-black overlay-hover">
				  <img ng-src="{{winner.game.iconUrl}}" alt="location" class="media-object">
				</a>
			    </div>
			</div>
			<div>
			    <div class="winners-name">
				<span>{{winner.nickname}}</span> just won
			    </div>
			    <div class="winners-money">
				{{winner.win}} <span>in</span>
			    </div>
			    <div class="winners-game">
				<a ng-click="playGame(winner.game.playUrl, winner.game.id, false, false, game.aspectRatio)">{{winner.game.name}}</a>
			    </div>
			</div>
		    </div>
		</ul>
	    </uib-accordion-group>
	</uib-accordion>
    </div>
    <div id="ascrail2001" class="nicescroll-rails"
	 style="width: 5px; z-index: 2; cursor: default; position: absolute; top: 0px; left: 194px; height: 331px; display: block; opacity: 0;">
	<div
	    style="position: relative; top: 0px; float: right; width: 5px; height: 318px; border: 0px; border-radius: 5px; background-color: rgb(22, 174, 159); background-clip: padding-box;"></div>
    </div>
</aside>

<div class="st-pusher grid-list-container">
	<!-- this is the wrapper for the content -->
	<div class="st-content ">

		<!-- extra div for emulating position:fixed of the menu -->
		<div class="st-content-inner padding-top-none" id="content"
			data-scrollable="" tabindex="2">
			<!-- style="overflow-y: hidden; outline: none;"> -->

			<!-- Change view - sort by -->
      <div>
        <nav class="navbar-default navbar-static-top">
          <div class="container-fluid">
            <div ng-if="displayType == 'grid'" class="navbar-header">
              <a class="toggle pull-right margin-none visible-xs" data-toggle="collapse" href="" ng-click="setDisplayType('list')">
                <i class="fa fa-sliders fa-rotate-90"></i> Switch to List
              </a>
            </div>
            <div ng-if="displayType == 'list'" class="navbar-header">
              <a class="toggle pull-right margin-none visible-xs" data-toggle="collapse" href="" ng-click="setDisplayType('grid')">
                <i class="fa fa-sliders fa-rotate-90"></i> Switch to Grid
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-left-m">
                <li ng-class="{ 'active': displayType == 'list' }">
                  <a ng-click="setDisplayType('list')"><i class="fa fa-list fa-fw"></i>List</a>
                </li>
                <li ng-class="{ 'active': displayType == 'grid' }">
                  <a ng-click="setDisplayType('grid')"><i class="fa fa-th fa-fw"></i>Grid</a>
                </li>
              </ul>
              <div class="grid-navbar navbar-right navbar-right-m">
                <div class="navbar-text">Sort by:</div>
                <ul class="nav navbar-nav navbar-nav-right">
                  <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle>
                      {{selectedOrderByOption.name}}<span class="caret"></span><span class="sr-only">(current)</span>
                    </a>
                    <ul class="uib-dropdown-menu" role="menu">
                      <li ng-repeat="orderByOption in orderByOptions" role="menuitem" ng-class="{'active':selectedOrderByOption.name === orderByOption.name}">
												<a ng-click="orderBy(orderByOption)">{{orderByOption.name}}</a>
											</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
			<!-- END Change view - sort by -->

			<div class="container-fluid container-games" >
				<h1 class="text-h3">{{listTitle}}</h1>
				<!-- listings -->

				<!-- Master Listing -->
				<div class="panel panel-default game-list" ng-repeat="game in gamesPage" ng-if="displayType == 'list'">
					<div class="media">
						<div class="media-left listing-media-left">
							<div class="cover hover overlay margin-none">
								<a ng-click="playGame(game.playUrl, game.id, false, false, game.aspectRatio)"   style="height: 110px;">
									<img ng-src="{{game.iconUrl}}"/>
								</a>
							</div>
						</div>
						<div class="media-body media-body-list">
							<a ng-click="playGame(game.playUrl, game.id, false, false, game.aspectRatio)">
								<h4 class="media-heading">{{game.name}}</h4>
							</a>
							<p class="margin-none game-description">{{game.description}}</p>
							<div class="list-other">
								<span class="label label-grey-100">{{game.providerName}}</span>&nbsp;
								<i class="fa fa-btc" style="color: grey;" popover="Bitcoin" popover-trigger="mouseenter"></i>&nbsp;
								<i class="fa fa-thumbs-o-up" style="color: grey;" popover="Provably Fair" popover-trigger="mouseenter"></i>&nbsp;
								<!-- <i class="fa fa-star" ng-if="isAuth()" ng-click="toggleFavorite(game)" ng-style="{'color': game.isFavorite ? '#fcaf3e' : '#fff'}"></i> -->
								<div class="listing-buttons">
								<button class="btn btn-primary btn-playnow" ng-click="playGame(game.playUrl, game.id, false, false)">Play</button>
								<button class="btn btn-primary btn-practiceplay" ng-click="playGame(game.playForFunUrl, game.id, true, false)">Practice</button>
							</div>
							</div>
						</div>
					</div>
				</div>

				<!-- END/ Master Listing -->

				<div class="row" ng-if="displayType == 'grid'">
					<div class="col-lg-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 game-grid" ng-repeat="game in gamesPage">
					<div class="cover hover overlay margin-none">
								<a ng-click="playGame(game.playUrl, game.id, false, false, game.aspectRatio)">
									<img class="game-icon" ng-src="{{game.iconUrl}}" />
								</a>
							</div>
						<div class="panel-body">
							<a ng-click="playGame(game.playUrl, game.id, false, false, game.aspectRatio)">
								<h4 style="margin: 5px 0px;">{{game.name}}</h4>
							</a>
							<div>
								<!--<span class="label label-grey-100">{{game.providerName}}</span>&nbsp;-->
								<i class="fa fa-btc" style="color: grey;" popover="Bitcoin" popover-trigger="mouseenter"></i>&nbsp;
								<i class="fa fa-thumbs-o-up" style="color: grey;" popover="Provably Fair" popover-trigger="mouseenter"></i>&nbsp;
                                <i ng-if="$index % columns === 0" class="fa fa-info-circle" popover-trigger="mouseenter" popover="{{game.description}}" popover-placement="right"></i>&nbsp;
                                <i ng-if="$index % columns > 0" class="fa fa-info-circle" popover-trigger="mouseenter" popover="{{game.description}}" popover-placement="top"></i>&nbsp;
								<!-- <i class="fa fa-star" ng-if="isAuth()" ng-click="toggleFavorite(game)" ng-style="{'color': game.isFavorite ? '#fcaf3e' : '#fff'}"></i> -->
							</div>
						</div>
						<div class="text-left">
							<button class="btn btn-primary btn-playnow" ng-click="playGame(game.playUrl, game.id, false, false, game.aspectRatio)">Play</button>
							<button class="btn btn-primary btn-practiceplay" ng-click="playGame(game.playForFunUrl, game.id, true, false, game.aspectRatio)">Practice</button>
						</div>
					</div>
				</div>

				<!-- END/ listings -->
				<ul class="pagination margin-top-none">
					<li ng-class="{ 'disabled': !hasPreviousPage }"><a ng-click="paginate(currentPage-1)">«</a></li>
					<li ng-repeat="i in pages track by $index" ng-class="{ 'active': currentPage == $index}"><a ng-click="paginate($index)">{{$index+1}}</a></li>
					<li ng-class="{ 'disabled': !hasNextPage }"><a ng-click="paginate(currentPage+1)">»</a></li>
				</ul>
</div>

			<!-- END / Grid View -->


		</div>
		<!-- /st-content-inner -->
	</div>
	<!-- /st-content -->
</div>
<!-- /st-pusher -->
